.signal-carousel-items
  #sig.modal.hide
    %button.close{"data-dismiss" => "modal", :type => "button"}
      %i.icon-remove
    .modal-body
      #sig-1.carousel.slide{data:{interval:false}}
        .carousel-inner
          .item.active
            %img{src:asset_path("img-lg-sig-4.jpg")}
          .item
            %img{src:asset_path("img-lg-sig-6.jpg")}
          .item
            %img{src:asset_path("img-lg-sig-1.jpg")}
          .item
            %img{src:asset_path("img-lg-sig-3.jpg")}
        %a.carousel-control.left{href:"#sig-1", data:{slide:"prev"}}
          %i.icon-chevron-left
        %a.carousel-control.right{href:"#sig-1", data:{slide:"next"}}
          %i.icon-chevron-right

.dreambid-carousel-items
  #dreambid.modal.hide
    %button.close{"data-dismiss" => "modal", :type => "button"}
      %i.icon-remove
    .modal-body
      #dreambid-1.carousel.slide{data:{interval:"false"}}
        .carousel-inner
          .item.active
            %img{src:asset_path("img-lg-DB-1.jpg")}
          .item
            %img{src:asset_path("img-lg-DB-2.jpg")}
          .item
            %img{src:asset_path("img-lg-DB-3.jpg")}
          .item
            %img{src:asset_path("img-lg-DB-4.jpg")}
        %a.carousel-control.left{href:"#dreambid-1", data:{slide:"prev"}}
          %i.icon-chevron-left
        %a.carousel-control.right{href:"#dreambid-1", data:{slide:"next"}}
          %i.icon-chevron-right

.abyss-carousel-items
  #abyss.modal.hide
    %button.close{"data-dismiss" => "modal", :type => "button"}
      %i.icon-remove
    .modal-body
      #abyss-1.carousel.slide{data:{interval:"false"}}
        .carousel-inner
          .item.active
            %img{src:asset_path("img-lg-poster-1.jpg")}
          .item
            %img{src:asset_path("img-lg-poster-2.jpg")}
          .item
            %img{src:asset_path("img-lg-poster-3.jpg")}
        %a.carousel-control.left{href:"#abyss-1", data:{slide:"prev"}}
          %i.icon-chevron-left
        %a.carousel-control.right{href:"#abyss-1", data:{slide:"next"}}
          %i.icon-chevron-right

.lvlup-carousel-items
  #lvlup.modal.hide
    %button.close{"data-dismiss" => "modal", :type => "button"}
      %i.icon-remove
    .modal-body
      #lvlup-1.carousel.slide{data:{interval:"false"}}
        .carousel-inner
          .item.active
            %img{src:asset_path("img-lg-lvlup-1.jpg")}
          .item
            %img{src:asset_path("img-lg-lvlup-2.jpg")}
          .item
            %img{src:asset_path("img-lg-lvlup-3.jpg")}
        %a.carousel-control.left{href:"#lvlup-1", data:{slide:"prev"}}
          %i.icon-chevron-left
        %a.carousel-control.right{href:"#lvlup-1", data:{slide:"next"}}
          %i.icon-chevron-right

.ocw-carousel-items
  #ocw.modal.hide
    %button.close{"data-dismiss" => "modal", :type => "button"}
      %i.icon-remove
    .modal-body
      #ocw-1.carousel.slide{data:{interval:"false"}}
        .carousel-inner
          .item.active
            %img{src:asset_path("img-lg-ocw-1.jpg")}
          .item
            %img{src:asset_path("img-lg-ocw-2.jpg")}
          .item
            %img{src:asset_path("img-lg-ocw-3.jpg")}
        %a.carousel-control.left{href:"#ocw-1", data:{slide:"prev"}}
          %i.icon-chevron-left
        %a.carousel-control.right{href:"#ocw-1", data:{slide:"next"}}
          %i.icon-chevron-right