.content.signal
  .hd
  .container
    .row
      .span6
        %h1 Signal App
        %h3 An iPhone app that keeps you connected to your inner circle of professional contacts
      .span6
        .logo
          %img{ src: asset_path("logo-signal.png") }
    #sig-container.modal-container
      .row.padded
        .span3
          .thumbnail
            %a(href="#sig" data-toggle="modal")
              %img{src:asset_path("img-sm-sig-2.jpg")}
        .span3
          .thumbnail
            %a(href="#sig" data-toggle="modal")
              %img{src:asset_path("img-sm-sig-4.jpg")}
        .span3
          .thumbnail
            %a(href="#sig" data-toggle="modal")
              %img{src:asset_path("img-sm-sig-5.jpg")}
        .span3
          .thumbnail
            %a(href="#sig" data-toggle="modal")
              %img{src:asset_path("img-sm-sig-6.jpg")}
      .row.padded
        .span3
          .thumbnail
            %a(href="#sig" data-toggle="modal")
              %img{src:asset_path("img-sm-sig-1.jpg")}
        .span3
          .thumbnail
            %a(href="#sig" data-toggle="modal")
              %img{src:asset_path("img-sm-sig-3.jpg")}
  .ft

.content.abyss
  .hd
  .container
    .row
      .span6
        .logo
          &nbsp;
      .span6
        %h1 Poster for "The Abyss (Polish)"
        %h3 Personal project exploring Illustrator and Photoshop
    #abyss-container.modal-container
      .row.padded
        .span3
          .thumbnail
            %a(href="#abyss" data-toggle="modal")
              %img{src:asset_path("img-sm-poster-1.jpg")}
        .span3
          .thumbnail
            %a(href="#abyss" data-toggle="modal")
              %img{src:asset_path("img-sm-poster-2.jpg")}
        .span3
          .thumbnail
            %a(href="#abyss" data-toggle="modal")
              %img{src:asset_path("img-sm-poster-3.jpg")}
  .ft

.content.dreambid
  .hd
  .container
    .row
      .span6
        %h1 DreamBid
        %h3 Lowest Unique Bid Auction Site
      .span6
        .logo
          %img{ src: asset_path("logo-dreambid.png") }
    #dreambid-container.modal-container
      .row.padded
        .span3
          .thumbnail
            %a(href="#dreambid" data-toggle="modal")
              %img{src:asset_path("img-sm-DB-1.jpg")}
        .span3
          .thumbnail
            %a(href="#dreambid" data-toggle="modal")
              %img{src:asset_path("img-sm-DB-2.jpg")}
        .span3
          .thumbnail
            %a(href="#dreambid" data-toggle="modal")
              %img{src:asset_path("img-sm-DB-3.jpg")}
        .span3
          .thumbnail
            %a(href="#dreambid" data-toggle="modal")
              %img{src:asset_path("img-sm-DB-4.jpg")}
  .ft

.content.lvlup
  .hd
  .container
    .row
      .span6
        %h1 LvlUp
        %h3 Gaming apparel e-commerce web application.
        %p Users can earn points for almost everything they do on the site, earning levels and giving access to more products, perks, and rep. Users could also link their gaming accounts, giving them a unique opportunity to benefit on the site from their gaming prowess.
      .span6
        .logo
          %img{ src: asset_path("logo-lvlup.png") }
    #lvlup-container.modal-container
      .row.padded
        .span3
          .thumbnail
            %a(href="#lvlup" data-toggle="modal")
              %img{src:asset_path("img-sm-lvlup-1.jpg")}
        .span3
          .thumbnail
            %a(href="#lvlup" data-toggle="modal")
              %img{src:asset_path("img-sm-lvlup-2.jpg")}
        .span3
          .thumbnail
            %a(href="#lvlup" data-toggle="modal")
              %img{src:asset_path("img-sm-lvlup-3.jpg")}

  .ft


.content.ocw
  .hd
  .container
    .row
      .span6
        %h1 One Care Way
        %h3 Modernized In Home Care for Seniors
        %p One Care Way presents a simple and straightforward approach to in home care, a rapidly growing market in the united states. Families of seniors, caregivers, and others involved in care can access a suite of tools designed to minimize the costs of "typical" agency care. Personality tests, activity feeds, online monitoring, mobile access are are potential aspects of the site, still in infancy.
      .span6
        .logo
          %img{ src: asset_path("logo-onecareway.png") }
    #ocw-container.modal-container
      .row.padded
        .span3
          .thumbnail
            %a(href="#ocw" data-toggle="modal")
              %img{src:asset_path("img-sm-ocw-1.jpg")}
        .span3
          .thumbnail
            %a(href="#ocw" data-toggle="modal")
              %img{src:asset_path("img-sm-ocw-2.jpg")}
        .span3
          .thumbnail
            %a(href="#ocw" data-toggle="modal")
              %img{src:asset_path("img-sm-ocw-3.jpg")}

  .ft