@font-face {
    font-family: 'ColaborateThinRegular';
    src: url('font-collaborate/ColabThi-webfont.eot');
    src: url('font-collaborate/ColabThi-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-collaborate/ColabThi-webfont.woff') format('woff'),
         url('font-collaborate/ColabThi-webfont.ttf') format('truetype'),
         url('font-collaborate/ColabThi-webfont.svg#ColaborateThinRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ColaborateLightRegular';
    src: url('font-collaborate/ColabLig-webfont.eot');
    src: url('font-collaborate/ColabLig-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-collaborate/ColabLig-webfont.woff') format('woff'),
         url('font-collaborate/ColabLig-webfont.ttf') format('truetype'),
         url('font-collaborate/ColabLig-webfont.svg#ColaborateLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ColaborateRegular';
    src: url('font-collaborate/ColabReg-webfont.eot');
    src: url('font-collaborate/ColabReg-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-collaborate/ColabReg-webfont.woff') format('woff'),
         url('font-collaborate/ColabReg-webfont.ttf') format('truetype'),
         url('font-collaborate/ColabReg-webfont.svg#ColaborateRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ColaborateMediumRegular';
    src: url('font-collaborate/ColabMed-webfont.eot');
    src: url('font-collaborate/ColabMed-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-collaborate/ColabMed-webfont.woff') format('woff'),
         url('font-collaborate/ColabMed-webfont.ttf') format('truetype'),
         url('font-collaborate/ColabMed-webfont.svg#ColaborateMediumRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ColaborateBoldRegular';
    src: url('font-collaborate/ColabBol-webfont.eot');
    src: url('font-collaborate/ColabBol-webfont.eot?#iefix') format('embedded-opentype'),
         url('font-collaborate/ColabBol-webfont.woff') format('woff'),
         url('font-collaborate/ColabBol-webfont.ttf') format('truetype'),
         url('font-collaborate/ColabBol-webfont.svg#ColaborateBoldRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

