// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content {
  min-height: 500px;
  position: relative;
  padding: 140px 0;

  p,h1,h2,h3,h4,h5 {
    color: #DDD;
  }
  a {
    color: #8ECDFF;
    &:hover {
      color: #005580;
    }
  }
  h1, h2, h3, h4, h5 {
    text-shadow: 0 1px 0 rgba(0,0,0,0.7);
  }

  &.light {
    p,h1,h2,h3,h4,h5 {
      color: #444;
    }
    a {
      color: #08C;
      &:hover {
        color: #005580;
      }
    }
    h1, h2, h3, h4, h5 {
      text-shadow: none;
    }
  }

  h1 {
    small {
      font-size: 0.5em;
    }
  }

  &.dreambid {
    background: url(image_path("bg-darkFade.png")) center bottom repeat-x, url(image_path("bg-dreambid-clouds.png")) center top repeat-x fixed, url(image_path("bg-dreambid.png")) repeat fixed;
  }
  &.signal {
    background: url(image_path("bg-darkFade.png")) center bottom repeat-x, url(image_path("bg-signal.png")) repeat fixed;
  }
  &.lvlup {
    background: url(image_path("bg-darkFade.png")) center bottom repeat-x, url(image_path("bg-lvlup-cubes.png")) center top repeat-x fixed, url(image_path("bg-lvlup.png")) repeat fixed;
  }
  &.signal {
    background: url(image_path("bg-darkFade.png")) center bottom repeat-x, url(image_path("bg-signal.png")) repeat fixed;
  }
  &.ocw {
    background-color: #FAF6E3;
    background: url(image_path("bg-lr-gradient.png")) right bottom no-repeat fixed, url(image_path("bg-ul-gradient.png")) left top no-repeat fixed, #FAF6E3 url(image_path("bg-ur-gradient.png")) right top no-repeat fixed;
  }
  &.abyss {
    background: url(image_path("bg-abyss-arm.png")) top right fixed no-repeat, url(image_path("bg-darkFade.png")) center bottom repeat-x, url(image_path("bg-abyss.png")) bottom repeat-x fixed;
  }
  .hd, .ft {
    position: absolute;
    z-index: 2;
    height: 106px;
    width: 100%;
    pointer-events: none;
  }
  .hd {
    background: url(image_path("bg-main-contentTop.png")) center top repeat-x;
    top: 0;
  }
  .ft {
    bottom: 0;
    background: url(image_path("bg-main-contentBottom.png")) center bottom repeat-x;
  }
  .logo {
    text-align: center;
  }
  .carousel {
    margin-top: 120px;
    text-align: center;
    img {
      border: 10px solid rgba(0,0,0,0.4);
      @include border-radius(10px);
    }
  }
}